[package]
name = "revault_net"
version = "0.0.1"
authors = ["JSwambo <jake.t.swambo@hotmail.co.uk>"]
edition = "2018"

[dependencies]
serde = { version = "1.0", features = ["derive"] }
revault_tx = { git = "https://github.com/re-vault/revault", features = ["use-serde"] }
snow = { version = "0.7.2", features = ["libsodium-resolver"]}

[dev-dependencies]
serde_json = "1.0"
